<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photos | POPPHY</title>
</head>
<body>
    <% user.forEach((test) => { %> 
        <H1><%= test.firstName %> <%= test.lastName %></H1>
    <% }) %>
</body>
</html>