a:link {
    text-decoration: none; 
}

.bg-popphy {
    background: linear-gradient(0deg, rgba(255, 178, 28, 0.00) 0%, #FFB21C 106.67%);
}

.title-font {
    color: #FFF;
    text-shadow: 0px 4px 0px #000;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #000;
    font-family: Mitr;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
  
.sub-title-font {
    color: #FFF;
    text-align: right;
    text-shadow: 0px 2px 0px #000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #000;
    font-family: Mitr;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.margin-30 {
    margin-top: 30%;
}

.margin-30-bottom {
    margin-bottom: 5rem;
}

.margin-40-bottom {
    margin-bottom: 7rem;
}


.logo {
    width: 30rem;
}
.logo-sm {
    width: 20rem;
}

.stroke-text-style {
    color: #fff;
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 2px;
    text-shadow: 0px 2px 0px #000000;
}

.yellow-button {
    color: #000000;
    border-radius: 89.5px;
    border: 6px solid #000;
    background: #FFBA34;
    box-shadow: 0px 6px 0px 0px #000;
    transition: 0.3s;
}

.yellow-button:hover {
    color: #000000;
    border-radius: 89.5px;
    border: 6px solid #000;
    background: #ffaa00;
    box-shadow: 0px 4px 0px 0px #000;
}

.gray-button {
    color: #000000;
    border-radius: 89.5px;
    border: 6px solid #000;
    background: #B9B9B9;
    box-shadow: 0px 6px 0px 0px #000;
    transition: 0.3s;
}

.gray-button:hover {
    color: #000000;
    border-radius: 89.5px;
    border: 6px solid #000;
    background: #B9B9B9;
    box-shadow: 0px 4px 0px 0px #000;
}

.dark-gray-button {
    color: #000000;
    border-radius: 89.5px;
    border: 3px solid #000;
    background: #CECECE;
    box-shadow: 0px 2px 0px 0px #000;
    transition: 0.3s;
}

.dark-gray-button:hover {
    color: #000000;
    border-radius: 89.5px;
    border: 3px solid #000;
    background: #CECECE;
    box-shadow: 0px 4px 0px 0px #000;
}

.title-style {
    transition: 0.3s;
    width: 90%;
}

.title-style:hover {
    opacity: 50%;
}

.title-size {
    width: 60rem;
}

.unactive-yellow-button {
    color: #000000;
    border-radius: 89.5px;
    border: 6px solid #000;
    background: #ffde9b;
    box-shadow: 0px 9px 0px 0px #000;
    transition: 0.3s;
}

.light-gray-button {
    color: #000000;
    border-radius: 89.5px;
    border: 6px solid #000;
    background: #CFCFCF;
    box-shadow: 0px 9px 0px 0px #000;
    transition: 0.3s;
}